{% extends 'movies/base.html' %}

{% block title %}
    List of movies
{% endblock %}

{% block body %}
    <h1>Movies:</h1>
    <div>
        <ul class="list-group">
            {% for mov in movies %}
                <li class="list-group-item" >
                    <h2>
                        <a href="{{ url_for('movies_app.about', item_id=mov)}}">
                            {{ movies[mov]}}</a>
                    </h2>
                </li>
            {% endfor %}
        </ul>
    </div>
    <a href="{{ url_for('movies_app.add')}}" >
        <button type="button" class="btn btn-primary">Add movie</button>
    </a>

{% endblock %}